<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    <%= link_to(image_tag('logos/GCPD.webp', style: 'height: 70px; width: 80px;'), home_path) %>
  </div>
  <div class="col s10">
    <h3>GCPD Management System</h3>
  </div>
</div>