<div class="row">  
  <h4>Welcome to the Gotham City Police Department System</h4>  
  <div class="col s9">
    <div class="carousel">
      <a class="carousel-item" href="#one"><%= image_tag 'GCPD2004.png' %></a>
      <a class="carousel-item" href="#two"><%= image_tag 'Gotham_City_Police_Department_0001.png' %></a>
      <a class="carousel-item" href="#three"><%= image_tag 'gotham-premiere.png' %></a>
    </div>
    <div class="card">
      <div class="card-content">
        <p>The Gotham City Police Department System is a cutting-edge administrative tool tailored 
          to enhance the efficiency and responsiveness of Gotham's law enforcement. Our platform 
          offers comprehensive access to real-time criminal data, case tracking, and officer deployment. 
          Designed to support our city's unique security needs, this system empowers law enforcement 
          officers with critical information to safeguard Gotham's citizens effectively. Through this site, 
          you will find detailed insights into our services and soon be able to access extensive law 
          enforcement records and updates. Stay tuned as we continue to expand our online capabilities 
          to better serve you and ensure public safety.
        </p>
      </div>
    </div>
  </div>
</div>
